@model E_Reviu_LKBUN.Models.Assurance

@{
    ViewBag.Title = "Hasil Pengujian";
    ViewBag.Title2 = Model.ST;
    ViewBag.Subtitle = Model.Universe.ShortName;
}

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-0 border b-r-0">
                @*<div class="card-header card-header-info">
                <h4 class="card-title">@ViewBag.Title</h4>

                </div>*@
                <div class="card-body table-responsive">
                    <a href="@Url.Action("PopulateScript",new { id=Model.ID})" class="btn btn-md btn-primary">Download Script Pengujian</a> <a href="@Url.Action("ProcessingScript",new { id=Model.ID})" class="btn btn-md btn-info">Download Script Olah Data</a> <a href="@Url.Action("Index")" class="btn btn-md btn-warning">Back</a><br /><br />
                    <table class="display" id="basic-1">
                        <thead>
                            <tr>
                                <th>
                                    Code
                                </th>
                                <th>
                                    Ref
                                </th>
                                <th>
                                    Risiko
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Universe.UniverseRisk)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Risk.Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Risk.Reference)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Risk.Risiko) <span class="badge badge-primary">@item.Risk.RiskCategory.category</span> <span class="badge badge-info">@item.Risk.Module.ModuleName</span>
                                    </td>
                                    <td style="white-space:nowrap">
                                        <a href="@Url.Action("Results",new { id=Model.ID, c=item.ID })" class="btn btn-sm btn-danger">Hasil Pengujian <span class="badge badge-light"> @{Html.RenderAction("AnomalyCounterPerTest", new { id = Model.ID, r = item.ID });} </span></a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>