@model E_Reviu_LKBUN.Models.OutputColumnList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OutputColumnList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UniverseRisk.Script)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniverseRisk.Script)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColumnName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColumnName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isValueColumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isValueColumn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAnomalyIdentifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAnomalyIdentifier)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
